.graph-node {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 1rem;
    position: absolute;
    left: calc(var(--x) * 1px);
    top: calc(var(--y) * 1px);
}

.graph-node .graph-node-left {
    flex-grow: 1;
}

.graph-node .graph-node-right {
    flex-grow: 1;
}

.graph-node .graph-node-right .graph-pin {
    flex-direction: row-reverse;
}